@using Demo.Web.Apis
@using Demo.Web.Models
@using Sail.Common
@{
    var user = this.SetPage("373837AF-8383-4C57-93EF-1B2D48489BD6", "学生信息", "基础信息");
}
@section head{
    <script id="listTmpl" type="text/x-jsrender">
        <tr>
            <td>
                <a class="btnView">
                    {{>Name}}
                </a>
            </td>
            <td>
                {{>Number}}
            </td>
            <td>{{>GradeStr}}</td>
            <td>{{>GenderStr}}</td>
            <td>{{>Age}}</td>
            <td>
                <a class="text-primary m_r_10 btnEdit" title="修改" data-toggle="tooltip"><i class="fa fa-edit fa-lg"></i></a>
                <a class="text-danger btnRemove" title="删除" data-toggle="tooltip"><i class="fa fa-lg  fa-trash"></i></a>
            </td>
        </tr>

    </script>
    <script id="modalTmpl" type="text/x-jsrender">

        <div class="form-group ">
            <label class="col-md-2 control-label">
                姓名：<span>*</span>
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control validate[required]" id="Name" placeholder="请输入学生姓名" />
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">
                学号：<span>*</span>
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control validate[required,custom[pdecimal]]" id="Number" placeholder="请输入学生学号" />
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">
                年级：<span>*</span>
            </label>
            <div class="col-md-10">
                <select class="form-control validate[required]" id="Grade">
                    @Helper.RenderEnum(typeof(Demo.Web.Models.Grade).GetEnumItems(), "", "请选择年级");
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">
                性别：<span>*</span>
            </label>
            <div class="col-md-10">
                <select class="form-control validate[required]" id="Gender">
                    @Helper.RenderEnum(typeof(Demo.Web.Models.Gender).GetEnumItems(), "", "请选择性别")
                </select>
            </div>
        </div>
        <div class="form-group ">
            <label class="col-md-2 control-label">
                年龄：<span>*</span>
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control validate[required,custom[pdecimal]]" id="Age" placeholder="请输入学生年龄" />
            </div>
        </div>


        @*<div class="form-group ">
                <label class="col-md-2 control-label">
                    所属县区：
                </label>
                <div class="col-md-10">
                    <select class="form-control validate[required] " id="County" data-prop="Id">
                        @Helpers.RenderDict(CountyController.GetAll(), "", "请选择县区");
                    </select>
                </div>
            </div>*@


        @*<div class="form-group ">
            <label class="col-md-2 control-label">
                排序号：<span>*</span>
            </label>
            <div class="col-md-10">
                <input type="text" data-defaultvalue="0" class="form-control validate[required,custom[pdecimal]]" id="OrderByNo" placeholder="请输入排序号" />
                <span class="help-block text-warning">社区按照排序号由小到大排列</span>
            </div>*@

    </script>
    <script>
        $(function () {
            var tool = new Sail.RazorPage("", "Student", "StudentId");
            tool.CreatePage({
                titles: ["姓名", "学号", "年级", "性别", "年龄", "操作"],
                titleWidth: [0, 0, 0, 0, 0, 120]
            });
            tool.Page.Query();
        })
    </script>
}

@Helper.PageList(

    @<text>
        <div class="form-float" style="padding: 0;">

            <div class="form-group">
                <div class="form-element-control">
                    <input type="text" class="form-control" name="key" placeholder="按姓名/学号过滤" />
                </div>
            </div>
            <div class="form-group">
                <div class="form-element-control">
                    <select class="form-control" id="grade">
                        @*<option value="">请选择年级</option>
                            <option value="0">大一</option>
                            <option value="1">大二</option>
                            <option value="2">大三</option>
                            <option value="3">大四</option>*@
                        @Helper.RenderEnum(typeof(Demo.Web.Models.Grade).GetEnumItems(), "", "请选择年级");
                    </select>
                    @*<input type="text" class="form-control" name="grade" placeholder="按年级过滤" />*@
                </div>
            </div>
            <div class="form-group">
                <div class="form-element-control">
                    <select class="form-control" id="gender">
                        @Helper.RenderEnum(typeof(Demo.Web.Models.Gender).GetEnumItems(), "", "请选择性别");
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id="btnQuery">
                    <i class="fa fa-search"></i>
                    查找
                </button>
                <button id="btnReset" class="btn btn-secondary">清除条件</button>
            </div>
        </div>
    </text>)

@Helper.PageDetail()